body {
    font-family: Calibri;
    margin: 0;
    padding: 0;
    background-color: darkgrey;
}
a.button {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
}