body {
    padding: 1rem;
    max-width: 800px;
}

table {
    min-width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin-bottom: 2rem;
}

td, th {
    padding: .75rem .35rem;
}

td {
    border-bottom: 1px solid #cacaca;
}

th {
    border-bottom: 1px solid #919191;
}

.action-btns {
    display: flex;
    justify-content: end;
    gap: 2px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.underlined-title {
    border-bottom: 1px solid #cacaca;
    padding-bottom: 1rem;
}

input[type="text"] {
    padding: .7rem .75rem;
    outline: none;
    border: solid 1px #cac9c9;
    border-radius: 4px;
    margin: 2px 0 6px 0;
    font-size: 1rem;
}

input[type="text"]::placeholder {
    font-size: 1rem;
}

input[type="datetime"] {
    padding: .7rem .75rem;
    outline: none;
    border: solid 1px #cac9c9;
    border-radius: 4px;
    margin: 2px 0 6px 0;
    font-size: 1rem;
}