
.body {
    height: 100dvh; 
    display: grid;
    grid-template-rows: auto 1fr;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-inline: clamp(10px, 7vw, 8rem);
    max-height: 102px;
}

.logo img {
    max-width: 100%;
    height: auto;
    max-height: 50px;
}

.header .topnavbar-container ul {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.header .topnavbar-container .brown-rectangle-btn {
    font-size: 1.25rem;
}


/* sidebar */
.sidebar-container {
    padding: clamp(.5rem, 1vw + 1rem, 2rem);
    background-color: var(--white-color);
    overflow-y: auto; 
    gap: 1rem;
}

.sidebar-container ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebar-btn {
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: #fff;
    padding: 1.5rem clamp(1.25rem, 4vw + 1rem, 10rem) 1.5rem 1.25rem;

    min-width: 100%;
    display: flex;
    white-space: nowrap;
    align-items: center;
    gap: 1rem;


    font-size: var(--fs-small);
    font-weight: 500;
    color: #656565;

    transition: background-color .35s ease;
}

.sidebar-btn i {
    font-size: calc(var(--fs-small) + 2px);
}

.sidebar-btn:not(.active):hover {
    background-color: #e5e5e5;
}

.sidebar-btn.active {
    color: #fff;
    background-color: var(--brown);
}

.sidebar-btn.active:hover {
    background-color: var(--light-brown);
}


/* main */
.main {
    display: flex;
    overflow: hidden;
}

.app {
    flex: 1;
    overflow-y: auto;
    background-color: #e5e5e5;
    padding: 3rem clamp(1rem, 5vw + 1rem, 3rem);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.app h1 {
    display: none;
    font-size: var(--fs-large);
    line-height: 1;
    font-weight: 600;
    color: var(--brown);
}


/* medium screen media queries */
@media only screen and (max-width: 884px) {
    .app h1 {
        display: block;
    }

    .sidebar-btn {
        padding: 1.5rem;
        justify-content: center;
        aspect-ratio: 1/1;
    }
    .sidebar-btn span {
        display: none;
    }
    .admin-action-btn {
        aspect-ratio: 1/1;
    }

    .admin-action-btn span {
        display: none;
    }
}